*.apk
*.ap_
*.aab
*.jks

*.dex
*.class

bin/
out/

.gradle
.gradle/
build/

local.properties

*.log

debug/
release/

/*/build/
/*/local.properties
/*/out
/*/*/build
/*/*/production
captures/
.navigation/
*.ipr
*~
*.swp

gen-external-apklibs

obj/

*.iml
*.iws
/out/

/.idea
/.kotlin